@import '~antd/dist/antd.css';

.App {
  text-align: center;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
}

.header {
  margin-bottom: 50px;
}

.input-error {
  color: #FF8800;
}

.todo-card {
  text-align: left;
}

.todo-text {
  overflow-wrap: break-word;
}

.todo-holder {
  margin-bottom: 20px;
  height: 200px;
}

.update-todo {
  margin: 75px;
}